@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&family=Roboto+Slab:wght@400;700&display=swap');

* {
  padding: 0;
  margin: 0;
  font-family: 'Montserrat', sans-serif;
  list-style: none;
}

html {
  background-color: #f5f6fa;
  height: 100vh;
}

a:link,
a:visited { text-decoration: none; }
